<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Style/Style.css">
    <title>Contacto</title>
</head>

<body>
    <div class="navegacion">
        <header>
            <h1 class="Diseño">Diseño <span> Multimedia</span></h1>
            <nav>
                <ul>
                    <li><a href="/index.html">INICIO</a></li>
                    <li><a href="/TEMPLATES/NOSOTROS.html">NOSOTROS</a></li>
                    <li><a href="/TEMPLATES/SERVICIOS.html">SERVICIOS</a></li>
                    <li><a href=""><span>CONTACTO</span></a></li>
                </ul>
            </nav>
        </header>
    </div>
    <aside class="boletin">
        <h2>Suscribete a nuestro boletín</h2>
        <div>

            <input type="correo" placeholder="Ingrese el Email...">
            <button>Suscribete</button>
        </div>
    </aside>
    <section class="nosotros">
        <section class="servicios_p">
            <h2>Contactos</h2>
            <h4>Nombre</h4>
            <input class="registro" type="text" name="nombre" id="nombre" placeholder="Ingresa tu nombre">
            <h4>Email</h4>
            <input class="registro" type="email" name="email" id="email" placeholder="Ingresa tu email">
            <h4>Teléfono</h4>
            <input class="registro" type="text" name="telefono" id="telefono" placeholder="Ingresa tu teléfono">
            <h4>Celular</h4>
            <input class="registro" type="text" name="celular" id="celular" placeholder="Ingresa tu celular">
            <h4>Mensaje</h4>
            <textarea class="registro"name="Mensaje" id="Mensaje" rows="8"></textarea>

            
            <input class="enviar" type="submit" value="Enviar">
            
        </section>

        <aside class="quehacemosco">
            <h2>Que hacemos</h2>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat perspiciatis corporis quia
                itaque dolor, nesciunt accusantium non officia, in nobis numquam voluptatibus distinctio sit magnam
                debitis nostrum?
                doloremque hic necessitatibus veniam! Dolore, dignissimos.</p>
            <img class="imgcontacto" src="/ASSETS/IMG/mapaGoogle.png">
        </aside>
    </section>






    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>


</body>

</html>