<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <link rel="stylesheet" href="../Style/Style.css">
</head>

<body>
    <div class="navegacion">
        <header>
            <h1 class="Diseño">Diseño <span> Multimedia</span></h1>
            <nav>
                <ul>
                    <li><a href="/index.html">INICIO</a></li>
                    <li><a href=""><span>NOSOTROS</span></a></li>
                    <li><a href="/TEMPLATES/SERVICIOS.html">SERVICIOS</a></li>
                    <li><a href="/TEMPLATES/CONTACTO.html">CONTACTOS</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <aside class="boletin">
        <h2>Suscribete a nuestro boletín</h2>
        <div>

            <input type="correo" placeholder="Ingrese el Email...">
            <button>Suscribete</button>
        </div>
    </aside>
    <section class="nosotros">
        <article class="servicios_p">
            <h2>Nosotros</h2>
            <br><br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
                autem voluptates tempora ipsa aspernatur odit dignissimos illo
                a nulla facere sed obcaecati neque repellendus labore, deleniti,
                vitae aut non voluptatum accusamus soluta asperiores perspiciatis
                cum? Dolores reiciendis recusandae optio quos delectus inventore
                cum suscipit. Nulla natus dolorum in blanditiis, saepe nostrum,
                omnis fugit illum placeat aperiam minima perferendis soluta distinctio!</p>
            <br>

            <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem et magnam ducimus
                velit repellat voluptatum vitae assumenda neque laudantium accusamus ullam, reiciendis
                est molestias at, odit libero error porro similique excepturi cumque. Officia nulla
                cumque quas, dignissimos non, velit perferendis ipsum eaque alias quam voluptatem
                veritatis fugit quidem fuga laboriosam molestiae. Voluptatem cum vel odit amet!
                Laboriosam, iste a ut eveniet accusamus atque tempore harum necessitatibus facilis
                illo vel enim doloremque ea distinctio. Facere in est eos aut commodi natus labore
                mollitia exercitationem dolorem quo nihil, molestiae incidunt assumenda corporis
                reprehenderit fugiat ipsam.
            </p>
            <br>
            <img class="imgnosotros"src="/ASSETS/IMG/891.jpg">

        </article>
        
        <aside class="quehacemos">
            <h2>Que hacemos</h2>
            <br>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat perspiciatis corporis quia
                itaque dolor, nesciunt accusantium non officia, in nobis numquam voluptatibus distinctio sit magnam
                debitis nostrum?
                doloremque hic necessitatibus veniam! Dolore, dignissimos.</p>
                
        </aside>
        
    </section>
    
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>


</html>