<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="../Style/Style.css">
</head>

<body>
    <div class="navegacion">
        <header>
            <h1 class="Diseño">Diseño <span> Multimedia</span></h1>
            <nav>
                <ul>
                    <li><a href="/index.html">INICIO</a></li>
                    <li><a href="/TEMPLATES/NOSOTROS.html">NOSOTROS</a></li>
                    <li><a href=""><span>SERVICIOS</span></a></li>
                    <li><a href="/TEMPLATES/CONTACTO.html">CONTACTOS</a></li>
                </ul>
            </nav>
        </header>
    </div>
    <aside class="boletin">
        <h2>Suscribete a nuestro boletín</h2>
        <div>

            <input type="correo" placeholder="Ingrese el Email...">
            <button>Suscribete</button>
        </div>
    </aside>
    <section class="nosotros">
        <section class="servicios_p">
            <h2 class="Servicios">Servicios</h2>

            <section class="cajas">
                <h2>Diseño Web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odio sint vitae molestiae,
                    est quis voluptas harum fuga explicabo, ex culpa quisquam, molestias consequuntur vero unde
                    reiciendis dicta esse labore debitis alias maxime porro assumenda. In autem possimus fugiat
                    temporibus?</p>
                <br>
                <p>Precio: $300000 - $1000000</p>
            </section>

            <asection class="cajas">
                <h2>Desarrollo Web</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa dolores praesentium earum labore
                    sunt obcaecati quas dolore totam assumenda, officiis at magnam. Ut molestiae deserunt officia
                    eos praesentium debitis repudiandae nihil ipsam. Sit voluptatem praesentium odit illum iure officiis
                    ipsam!
                </p>
                <br>
                <p>Precio desde: $1000000</p>
            </asection>
            <section class="cajas">
                <h2>Hosting Web</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam vitae repellat repellendus, id
                    quod harum culpa similique tempore nesciunt sequi delectus quidem error, eum doloremque et
                    recusandae
                    quisquam rem possimus? Quod, fugit maxime. Corrupti, a dicta commodi aperiam incidunt non!</p>
                <br>
                <p>Precio: $300000</p>
            </section>
        </section>

        <aside class="quehacemos">
            <h2>Que hacemos</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam quis eum ex veritatis.
                Dignissimos sequi cumque cupiditate quas excepturi reprehenderit, facilis iusto eligendi
                veritatis temporibus distinctio! Vero doloribus nostrum eius explicabo atque distinctio, dicta sint.</p>
        </aside>

    </section>
    <footer>
        <p>Graphel Desarrollo Web, Copyright © 2017</p>
    </footer>
</body>

</html>